/node-express-mongodb/newServer/node_modules
/node-express-mongodb/newServer/package-lock.json
/node-express-mongodb/newServer/config.env


/node-express-mongodb/API/serverfiles/node_modules
/node-express-mongodb/API/serverfiles/package-lock.json
/node-express-mongodb/API/serverfiles/config.env


/node-express-mongodb/MongoDB-crud/node_modules
/node-express-mongodb/MongoDB-crud/package-lock.json
/node-express-mongodb/MongoDB-crud/config.env
/node-express-mongodb/MongoDB-crud/package.json